<div fxLayout="column" class="content-menu">
    <div class="content-menu-row" fxLayout="row">
        <div class="content-menu-det" fxFlex fxLayoutAlign="center center">WHAT'S NEW</div>
        <div class="content-menu-det" fxFlex fxLayoutAlign="center center">DRESSES</div>
    </div>
    <div class="content-menu-row" fxLayout="row">
        <div class="content-menu-det" fxFlex fxLayoutAlign="center center">CLOTHING</div>
        <div class="content-menu-det" fxFlex fxLayoutAlign="center center">COSMETICS</div>
    </div>
    <div class="content-menu-row" fxLayout="row">
        <div class="content-menu-det" fxFlex fxLayoutAlign="center center">SCARVES</div>
        <div class="content-menu-det" fxFlex fxLayoutAlign="center center">BRANDS</div>
    </div>
    <div class="content-menu-row" fxLayout="row">
        <div class="content-menu-det" fxFlex fxLayoutAlign="center center">TOPS</div>
        <div class="content-menu-det" fxFlex fxLayoutAlign="center center">Sale</div>
    </div>
</div>