<!-- <div class="cards">
  <div class="product-grid" *ngFor="let product of products">
    <app-product-card [product]="product" [showProductDescripton]="false"></app-product-card>
  </div>

</div> -->

<div class="grid">
  <div class="grid-div" *ngFor="let product of products">
    <app-product-card [product]="product" [type]='type' [showProductDescripton]="showProductDescripton"></app-product-card>

    <!-- <img class="image-mage" alt="" [src]="product.image">
    <div>
      <button mat-button routerLink="/">Add to cart</button>
      <div class="product-det product-title">{{product.title}}</div>
      <div class="product-det subtitle-title">{{product.subTitle}}</div>
      <div class="product-det amount-title">{{product.amount}}</div>
    </div> -->
  </div>
</div>